.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vh;
    margin: 1vh 0vh;
}
body{
    background-image: url("pagebg.jpg");
    background-size: cover;
    margin: 0%;
    z-index: 0;
}
#nav-check{
    opacity: 0;
    z-index: 110;
}
#dass{
    opacity: 0;
}
.navbar ul li{
    padding: 2vh;
}
.footer{
    background-color:rgba(0, 0, 0, 0.757);
    width: 100%;
    color: aliceblue;
    padding: 10% 0;
    text-align: center;
    border-top: 4px solid rgba(206, 206, 206, 0.757);
}
.footer img{
    padding: 0 2%;
    cursor: pointer;
}

.dis div:hover{
    border-radius: 4px;
    background-color: #797979;
    color: black;
    box-shadow: 0px 5px 5px rgb(137, 137, 137) ;
}
.navbar ul li a{
    text-decoration: none;
    letter-spacing: 2px;
    background-image: linear-gradient(180deg, #184373, #152333);
    color: white;
    padding: 10px;
    z-index: 100;
    border-radius: 0% 100% 49% 51% / 0% 0% 100% 100% ;
    transition: all 0.3s ease-in-out ;
    box-shadow: 0px 2px 5px rgba(39, 21, 0, 0.629);
    opacity: 0.9;
}
.navbar ul li a:hover{
    box-shadow: 0px 5px 10px rgba(39, 21, 0, 0.629) ;
    text-decoration: none;
    opacity: 1;


}
.navbar ul li a:active{
    opacity: 0.4;
}
.navbar{
    width: 100%;
    height: 5vh;
    z-index: 97;
    background-image: linear-gradient(180deg,#345a8d , #0e3667);
    box-shadow: 0px 5px 5px rgba(39, 21, 0, 0.629) ;
}
.pinning{
    position: fixed;
    top:0;
}
.hi{
    text-align: left;
    font: italic small-caps bold 2rem cursive;
    text-align: left;
    padding: 0 10%;
}
.hi p{
    border-left: 10px solid white;
    color: antiquewhite;
    background-color: rgba(164, 188, 225, 0.156);
    margin: 10px 0;
    border-radius: 15px 15px 15px;
}
.circles{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.circles div{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
}
.homecontent{
    position: absolute;
    z-index: 96;
    top:30%;
    left:10%;
    height: 50vh;
    width: 50vh;
    margin-right: 10px;
    background-image: linear-gradient(180deg, #245fa6,#173559);
    box-shadow: 0px 10px 10px rgba(29, 29, 29, 0.713);
    text-align: center;
}
.divbox {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    
    align-content: center;
    width: 100%;
}
h2{
    background-color: aquamarine;
    border-left: 5px solid #245fa6;
    color: #245fa6;
    letter-spacing: 4px;
    padding: 7px;
    border-radius:10px 2px 10px;
    box-shadow: 0 10px 15px rgba(31, 31, 31, 0.676);
}
.cards{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    margin: 6% 0;
    padding: 5% 10%;
    background-color: rgba(99, 99, 99, 0.777);
}
.cards div{
    text-align: center;
    height:max-content;
    width:max-content;
    padding: 0px 20px;
    margin: 10px;
    transition: all 1s ease-in-out;
}
.cards div p{
    font-size: medium;
}
.cards div:hover{
    transform: scale(1.5);
    background-color: rgba(62, 62, 62, 0.777);
    box-shadow: 0 5px 5px 5px rgba(54, 54, 54, 0.777);
    border-radius: 10px;
    cursor: pointer;
}
.myimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0% 0% 50vh 50vh;
    box-shadow: 0px 5px 20px rgba(39, 21, 0, 0.629);
}
.fr{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-image: url("homebg.jpg");
    background-size: cover;
}
.frdiv{
    z-index: 98;
    position: absolute;
    left: 70%;
    width: 20%;
}
.iconss{
    align-items: center;
    height:max-content;
    width:max-content;
    padding: 0px 20px;
    margin: 10px;
}
.dis{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width:700px) and (min-width:400px){
    .frdiv{
        box-shadow: 0px;
    }
    .navbar ul li a{
        border-radius: 0px;
        box-shadow: 0 0 0 white;
        /* width: 50px; */
    }
    .navbar ul li{
        background-image: linear-gradient(180deg, #184373, #152333);
        border-top: 2px solid white;
        
    }
    .navbar ul li a:hover{
        border-bottom: 5px solid wheat;
    }
    #dass{
        opacity: 1;
    }
    .navbar ul{
        flex-direction: column;
        width: 40%;
        margin: 2vh 0vh;
    }
    .frdiv{
        box-shadow: 0px;
        width: 30%;
        left: 60%;
    }
    .homecontent{
        height: 50vh;
        width: 65%;
        top:35%;
        left:10%;
    }
    .cards{
        flex-direction: column;
    }
    .divbox{
        height: min-content;
    }
    #nav-check + label {
        opacity: 0;
        width: 0%;
    }
    #nav-check:checked + label{
        opacity: 1;
        width: auto;
    }
    .hi{
        font-size: 1.75rem;
    }
    .hi p{
        margin-top: 3rem;
    }
    
}
@media (max-width:400px){
    .homecontent{
        height: 40vh;
        width: 80%;
        top:30%;
        left:5%;
    }
    .navbar ul li{
        background-image: linear-gradient(180deg, #184373, #152333);
        border-top: 2px solid white;
    }
    .hi{
        font-size: 1.5rem;
    }
    #dass{
        opacity: 1;
    }
    .circles div{
        padding: 10px;
        height: 10px;
    }
    .bar{
        opacity: 1;
    }
    .frdiv{
        box-shadow: 0px;
        width: 40%;
        left: 60%;
    }
    .navbar ul{
        width: 50vh;
        flex-direction: column;
    }
    .navbar ul li a{
        border-radius: 0px;
        background-color: transparent;
        box-shadow: 0 0 0 white;
    }
    .navbar ul{
        width: 40%;
        margin: 2vh 0vh;
    }
    .cards{
        flex-direction: column;
    }
    .divbox{
        height: min-content;
    }
    #nav-check + label {
        opacity: 0;
    }
    #nav-check:checked + label{
        opacity: 1;
    }
}
