.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vh 0vh;
}
body{
    background-image: url("background.jpg");
}
.navbar ul li{
    padding: 2vh;
}
.footer{
    height: 5vh;
    background-color:rgba(255, 228, 196, 0.757);
    width: 100%;
    border-radius: 20px;
}
.navbar ul li a{
    text-decoration: none;
    background-color: #112D4E;
    color: white;
    padding: 10px;
    border-radius: 0% 100% 49% 51% / 0% 0% 100% 100% ;
    transition: 0.3s ease-in-out ;
}
.navbar ul li a:hover{
    box-shadow: 0px 5px 5px rgba(39, 21, 0, 0.629) ;
}
.navbar ul li a:active{
    opacity: 0.7;
}
.navbar{
    width: 100%;
    height: 5vh;
    background-color:#3F72AF ;
}
body{
    background-color: whitesmoke;
    margin: 0%;
}
.pinning{
    position: fixed;
    top:0;
}
.divbox{
    min-height: 100vh;
    width: 100%;
    /* background-color: #F9F7F7; */
}
.myimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0% 0% 45% 45%;
}
.homeimg{
    /* border-radius: 0% 100% 100% 0% / 100% 50% 50% 0% ; */
}
/* .fr{
    display: flex;
    flex-direction: row;
} */
.frdiv{
    z-index: 100;
    position: absolute;
    left: 70%;
    width: 20%;
    overflow: hidden;
    border-radius: 0% 0% 45% 45%;
    height:50vh;
}
@media screen and (max-width:500px){
    
}
